# Database Configuration
DATABASE_URL=postgresql://postgres:password123@db:5432/log_db

# Security & Authentication
INGEST_API_KEYS=example-ingest-key
INGEST_API_KEY_NAME=example-key-name

ADMIN_USERNAME=example_admin
ADMIN_PASSWORD=example_pass
VIEWER_USERNAME=example_viewer
VIEWER_PASSWORD=example_pass

# CORS (Frontend URL)
ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,https://your-production-domain.com