# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# =========================
# Logs & Runtime files
# =========================
*.log
logs/
tmp/
*.pid

# =========================
# Docker
# =========================
**/data/
docker-data/
postgres-data/
.pgdata/
*.volume

# =========================
# Database
# =========================
*.sqlite3

# =========================
# Editor / OS
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# =========================
# Frontend 
# =========================
frontend/node_modules/
node_modules/
frontend/dist/
frontend/build/

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
pytest_cache/
tests/

*.pdf